@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

* {
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    margin: 0px;
    width: 100%;
    height: 100vh;
}

main {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

h1 {
    margin: 10px;
    font-size: 35px;
    position: absolute;
    cursor: default;
}

button {
    margin-top: 10px;
    font-size: 25px;
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
    border: none;
    width: max-content;
}

.roll {
    font-size: 60px;
    white-space:nowrap;
    overflow: hidden;
    cursor: default;
    transition: all 0.6s ease;
}

.number {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    transition: all 0.6s ease;
}

.drag_none {
    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}