@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

* {
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    margin: 0px;
    width: 100%;
    height: 100vh;
}

main {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

h1 {
    margin: 10px;
    font-size: 25px;
    position: absolute;
}

div {
    display: inline;
}

button {
    margin-top: 10px;
    width: max-content;
}

.num_roll {
    font-size: 50px;
    overflow: hidden;
}